.slideshow-container {
    position: relative;
    width: 100%;
    max-height: 60vh; 
    overflow: hidden;
    border-radius: 5px;
}

.mySlides {
    display: none;
    animation: fade 10s; 
    position: relative;
}

.active {
    display: block; 
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.fade {
    animation-name: fade;
    animation-duration: 3.5s;
}

.mySlides h2 {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%; /* Center the element horizontally */
    transform: translateX(-50%); /* Adjust to move the element back by half its width */
    color: black; /* Adjust text color as needed */
    font-weight: bolder;
    padding-top: 8px;
    text-align: center;
    font-size: xx-large;
    line-height: 1.5;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .mySlides h2 {
        font-size: large;
        top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .mySlides h2 {
        font-size: medium;
        top: 3px;
    }
}
