.home-sidebar {
    display: flex;
    flex-direction: row; 
}

.home-container {
    margin-top: 30px;
    width: 75%;
    padding-left: 30px;
}

.animals {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .animal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    transition: transform 0.2s;
  }
  
  .animal-card:hover {
    transform: scale(1.05);
  }
  
  .image-container {
    width: 60%;
    height: 150px;
    display: flex;
    padding-left: 40px;
  }
  
  .images {
    width: 130px;
    height: 100%;
    object-fit: cover;
    padding-left: 30px;
    transition: transform 0.3s;
  }
  
  .image-container:hover .images {
    transform: scale(1.1);
  }
  
  .animal-details {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333;
  }
  
  .add-cart-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s;
  }
  
  .add-cart-button:hover {
    background-color: #218838;
  }
  

/* .animal-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: calc(30% - 10px);
    width: 170px;
    height: 170px;
    margin: 10px;
    overflow: hidden;
    word-wrap: break-word; 
    border-radius: 10px;
} */

/* .image-container {
   justify-content: center;
} */

.category-buttons {
    margin-right: 10px;
    transition: background-color 0.3s;
    font-weight: bold;
    padding-right: 10px;
    color: rgb(43, 42, 42);
}

.category-buttons:hover {
    background-color: green;
}

.button-showdetails:hover {
    background-color: green;
}

.search-bar {
    padding-top: 30px;
    padding-left: 30px;
}