
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 220px;
    margin-left: 7%;
    padding-left: 0%;
    border-radius: 7px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}
.sidebar li{
    padding-top: 25px;
    font-weight: bold;
    color: rgb(43, 42, 42);
}

.sidebar li:hover{
    text-transform: uppercase;
    color: green;
}

.sidebar ul {
    list-style-type: none; /* Remove bullets */
}

.filter-options button {
    background-color: transparent;
    border: 1px solid green;
    padding: 1px 3px;
    cursor: pointer;
    margin: 4px;
    border-radius: 3px;
}
  
.filter-options button.selected {
    background-color: green;
    color: white;
    border: 1px solid green;
}
  