.unique-background-image {
  background-image: url('https://wallpapers.com/images/hd/stolen-snapshot-of-a-farm-animal-bap8olzldnb0plxy.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unique-signup-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
}

.unique-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unique-signup-form-title {
  margin-bottom: 20px;
  color: #333;
}

.unique-signup-form-input,
.unique-signup-form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.unique-password-container {
  position: relative;
}

.unique-password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.unique-signup-form-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unique-signup-form-button:hover {
  background-color: #0056b3;
}
