/* UpdateAnimal.css */

.update-animal-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.update-animal-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.update-animal-form {
  display: flex;
  flex-direction: column;
}

.update-animal-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.update-animal-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-animal-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.update-animal-button:hover {
  background-color: #218838;
}

/* Media Queries for Responsive Design */

/* Adjustments for tablets */
@media screen and (max-width: 768px) {
  .update-animal-container {
      max-width: 80%; /* Adjusted maximum width for smaller screens */
  }
}

/* Adjustments for mobile devices */
@media screen and (max-width: 480px) {
  .update-animal-container {
      max-width: 90%; /* Further adjusted maximum width for smaller screens */
      padding: 15px; /* Adjusted padding for smaller screens */
  }

  .update-animal-title {
      font-size: 20px; /* Adjusted font size for smaller screens */
  }

  .update-animal-label {
      font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .update-animal-input {
      font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .update-animal-button {
      font-size: 14px; /* Adjusted font size for smaller screens */
  }
}
