.update-animal-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.update-animal-title {
  margin-bottom: 20px;
}

.animal-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.animal-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  text-align: left;
}

.animal-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.animal-card-details {
  margin-top: 10px;
}

.animal-card-button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.update-animal-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-animal-label {
  margin: 10px 0;
}

.update-animal-input {
  padding: 5px;
  width: 80%;
}

.update-animal-button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.update-animal-message {
  margin-top: 20px;
  color: green;
}
